In [2]:
import pandas as pd
import math
import numpy as np
import pyodbc
from sqlalchemy import create_engine
import urllib

In [3]:
item_col = 0
desc_col = 1
quant_col = 2
unit_col = 3
rate_col = 4
amount_col = 5

In [31]:
params = urllib.parse.quote_plus('DRIVER={SQL Server};SERVER=WINDOWS-UJU3M60\SQLEXPRESS;DATABASE=SMEC;UID=SMEC;PWD=smecs')
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [32]:
#Read in Excel File to get sheet names
#excel = pd.ExcelFile("Tender Schedule (NEW Branding).xlsm")
excel = pd.ExcelFile(r"C:\Users\User\Documents\UNI\Project\Python\master schedule 221014 numbered.xlsx")
sheets = excel.sheet_names
df = pd.read_excel(r"C:\Users\User\Documents\UNI\Project\Python\master schedule 221014 numbered.xlsx", sheet_name=sheets[0])
df = pd.DataFrame(df, columns = ["Item","Description","Qty","Unit","Rate","Amount"])

Contract_No = df.at[2,'Description']
Project_ID = df.at[2,'Description']
Principal = df.at[1,'Description']
Contractor = df.at[1,'Description']

In [33]:
df_sub_form = pd.DataFrame(columns = ["Primary Key","Project ID","Form ID","Version Number","Item ID","Quantity","Price","Unit","Amount"])

In [34]:
df_forms = pd.DataFrame(columns = {"Form ID", "Form Name"})

In [35]:
#Read pages and convert to Data Frames
#Data Frames stored in DF_List
df_list = list()
inc = 0
for x in sheets :
    df_list.append(pd.read_excel(r"C:\Users\User\Documents\UNI\Project\Python\master schedule 221014 numbered.xlsx", sheet_name=x))
    form = [[inc,x]]
    df_forms = df_forms.append(pd.DataFrame(form,columns = ["Form ID", "Form Name"]),ignore_index = True)
    inc += 1

In [36]:
# df_col = ["Form ID", "Level 1", "Level 2", "Level 3", "Level 4", "Level 5", "Item ID","Description","Units"]
# df = pd.DataFrame(columns = df_col)
# print(df)
print(df_list)

[                          Unnamed: 0  \
0                       Contract No:
1                           Project:
2                         Principal:
3                        Contractor:
4                                NaN
5   CONSTRUCTION OF BULK  EARTHWORKS
6                   PRICING SCHEDULE
7                                NaN
8                               Item
9                                  1
10                               1.1
11                               1.2
12                               1.3
13                               1.4
14                               1.5
15                               1.6
16                               1.7
17                               1.8
18                               1.9
19                              1.10
20                              1.11
21                              1.12
22                              1.13
23                              1.14
24                              1.15
25                                 2
26                               2.1
27                             2.1.1
28                             2.1.2
29                             2.1.3
30                             2.1.4
31                             2.1.5
32                             2.1.6
33                             2.1.7
34                             2.1.8
35                             2.1.9
36                               2.2
37                             2.2.1
38                             2.2.2
39                             2.2.3
40                             2.2.4
41                               2.3
42                             2.3.1
43                             2.3.2
44                             2.3.3
45                             2.3.4
46                             2.3.5
47                             2.3.6
48                             2.3.7
49                             2.3.8
50                             2.3.9
51                               2.4
52                             2.4.1
53                             2.4.2

                                           Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                                                 NaN        NaN        NaN
1                                                 NaN        NaN        NaN
2                                                 NaN        NaN        NaN
3                                                 NaN        NaN        NaN
4                                                 NaN        NaN        NaN
5                                                 NaN        NaN        NaN
6                                                 NaN        NaN        NaN
7                                                 NaN        NaN        NaN
8                                 Description of Work        Qty       Unit
9                                          EARTHWORKS        NaN        NaN
10                                          Stripping        NaN       sq.m
11                                      Cut material         NaN       cu.m
12         Importation of approved material, Excl S&C        NaN       cu.m
13           Spread and compact fill - from CUT Areas        NaN       cu.m
14  Spread and compact fill - from TEMP OUTFALL DR...        NaN       cu.m
15            Spread and compact fill - from Wetlands        NaN       cu.m
16                 Spread and compact fill - Imported        NaN       cu.m
17   Disposal of excess material offsite (unsuitable)        NaN       cu.m
18                   Importation of approved material        NaN       cu.m
19                           Stockpile for future use        NaN       cu.m
20                                Level 1 supervision        NaN       Item
21  Respread topsoil to allotments (review for ins...        NaN       sq.m
22  Removal of unsuitable material from Level 1 fi...        NaN       cu.m
23                  Removal of excess topsoil offsite        NaN       cu.m
24                           Temporary Outfall Drains        NaN       cu.m
25                                    RETAINING WALLS        NaN        NaN
26                             Concrete Sleeper Walls        NaN        NaN
27                   Concrete sleeper - < 1.0m height        NaN      Lin.m
28                     Concrete sleeper - 1.0m height        NaN      Lin.m
29                     Concrete sleeper - 1.2m height        NaN      Lin.m
30                     Concrete sleeper - 1.4m height        NaN      Lin.m
31                     Concrete sleeper - 1.6m height        NaN      Lin.m
32                     Concrete sleeper - 1.8m height        NaN      Lin.m
33                     Concrete sleeper - 2.0m height        NaN      Lin.m
34                     Concrete sleeper - 2.2m height        NaN      Lin.m
35                     Concrete sleeper - 2.4m height        NaN      Lin.m
36                               Timber Sleeper Walls        NaN        NaN
37                     Timber sleeper - < 1.0m height        NaN      Lin.m
38                       Timber sleeper - 1.0m height        NaN      Lin.m
39                       Timber sleeper - 1.2m height        NaN      Lin.m
40                       Timber sleeper - 1.4m height        NaN      Lin.m
41                                         Rock Walls        NaN        NaN
42                          Rock wall - < 1.0m height        NaN      Lin.m
43                            Rock wall - 1.0m height        NaN      Lin.m
44                            Rock wall - 1.2m height        NaN      Lin.m
45                            Rock wall - 1.4m height        NaN      Lin.m
46                            Rock wall - 1.6m height        NaN      Lin.m
47                            Rock wall - 1.8m height        NaN      Lin.m
48                            Rock wall - 2.0m height        NaN      Lin.m
49                            Rock wall - 2.2m height        NaN      Lin.m
50                            Rock wall - 2.4m height        NaN      Lin.m
51                                              Other        NaN        NaN
52                             Building surveyor fees        NaN       Item
53                                    Building permit        NaN       Item

   Unnamed: 4 Unnamed: 5
0         NaN        NaN
1         NaN        NaN
2         NaN        NaN
3         NaN        NaN
4         NaN        NaN
5         NaN        NaN
6         NaN        NaN
7         NaN        NaN
8        Rate     Amount
9         NaN        NaN
10        NaN        NaN
11        NaN        NaN
12        NaN        NaN
13        NaN        NaN
14        NaN        NaN
15        NaN        NaN
16        NaN        NaN
17        NaN        NaN
18        NaN        NaN
19        NaN        NaN
20        NaN        NaN
21        NaN        NaN
22        NaN        NaN
23        NaN        NaN
24        NaN        NaN
25        NaN        NaN
26        NaN        NaN
27        NaN        NaN
28        NaN        NaN
29        NaN        NaN
30        NaN        NaN
31        NaN        NaN
32        NaN        NaN
33        NaN        NaN
34        NaN        NaN
35        NaN        NaN
36        NaN        NaN
37        NaN        NaN
38        NaN        NaN
39        NaN        NaN
40        NaN        NaN
41        NaN        NaN
42        NaN        NaN
43        NaN        NaN
44        NaN        NaN
45        NaN        NaN
46        NaN        NaN
47        NaN        NaN
48        NaN        NaN
49        NaN        NaN
50        NaN        NaN
51        NaN        NaN
52        NaN        NaN
53        NaN        NaN  ,        Unnamed: 0                      Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0    Contract No:                             NaN        NaN        NaN
1        Project:                             NaN        NaN        NaN
2      Principal:                             NaN        NaN        NaN
3     Contractor:                             NaN        NaN        NaN
4             NaN                             NaN        NaN        NaN
..            ...                             ...        ...        ...
294          7.11                       MDPE Pits        NaN        NaN
295        7.11.1  P2 Pits (Provisional Quantity)        NaN        no.
296        7.11.2  P5 Pits (Provisional Quantity)        NaN        no.
297        7.11.3  P6 Pits (Provisional Quantity)        NaN        no.
298        7.11.4  P8 Pits (Provisional Quantity)        NaN        no.

    Unnamed: 4 Unnamed: 5
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
..         ...        ...
294        NaN        NaN
295        NaN        NaN
296        NaN        NaN
297        NaN        NaN
298        NaN        NaN

[299 rows x 6 columns],        Unnamed: 0          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0    Contract No:                 NaN        NaN        NaN        NaN
1        Project:                 NaN        NaN        NaN        NaN
2      Principal:                 NaN        NaN        NaN        NaN
3     Contractor:                 NaN        NaN        NaN        NaN
4             NaN                 NaN        NaN        NaN        NaN
..            ...                 ...        ...        ...        ...
149         2.4.3       525 Ø Endwall        NaN        No.        NaN
150         2.4.4       600 Ø Endwall        NaN        No.        NaN
151         2.4.5       675 Ø Endwall        NaN        No.        NaN
152         2.4.6       750 Ø Endwall        NaN        No.        NaN
153         2.4.7  Multipipe endwalls        NaN        No.        NaN

    Unnamed: 5
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
149        NaN
150        NaN
151        NaN
152        NaN
153        NaN

[154 rows x 6 columns],     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN                                       Contract No:        NaN
1          NaN                                           Project:        NaN
2          NaN                                         Principal:        NaN
3          NaN                                        Contractor:        NaN
4          NaN                                                NaN        NaN
..         ...                                                ...        ...
109        6.2                          Pressure testing of mains        NaN
110        6.3  Water quality testing as required by water aut...        NaN
111        6.4  Quality testing of works including certificati...        NaN
112          7                                    Asset recording        NaN
113        7.1                                    Asset Recording        NaN

    Unnamed: 3 Unnamed: 4 Unnamed: 5
0          NaN        NaN        NaN
1          NaN        NaN        NaN
2          NaN        NaN        NaN
3          NaN        NaN        NaN
4          NaN        NaN        NaN
..         ...        ...        ...
109       Item        NaN        NaN
110       Item        NaN        NaN
111       Item        NaN        NaN
112        NaN        NaN        NaN
113       Item        NaN        NaN

[114 rows x 6 columns],        Unnamed: 0           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0    Contract No:                  NaN        NaN        NaN        NaN
1        Project:                  NaN        NaN        NaN        NaN
2      Principal:                  NaN        NaN        NaN        NaN
3     Contractor:                  NaN        NaN        NaN        NaN
4             NaN                  NaN        NaN        NaN        NaN
..            ...                  ...        ...        ...        ...
223         4.3.4      Asset recording        NaN       Item        NaN
224         4.3.5        Pump stations        NaN        No.        NaN
225         4.3.6  150 Ø - Rising main        NaN      lin.m        NaN
226         4.3.7  225 Ø - Rising main        NaN      lin.m        NaN
227         4.3.8  300 Ø - Rising main        NaN        NaN        NaN

    Unnamed: 5
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
223        NaN
224        NaN
225        NaN
226        NaN
227        NaN

[228 rows x 6 columns],    Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0         NaN                                                NaN        NaN
1         NaN                                                NaN        NaN
2         NaN                                                NaN        NaN
3         NaN                                                NaN        NaN
4         NaN                                                NaN        NaN
..        ...                                                ...        ...
82        8.6  Additional hygiene protocols required for the ...        NaN
83        8.7                         Hydroseeding of Stockpiles        NaN
84        8.8  Extra over for 1m high silt fence (Growling Gr...        NaN
85        8.9  Clay Liner, 450mm deep in sediment pond and bi...        NaN
86       8.10  Maintenance of Biobasin during EDLP period inc...        NaN

   Unnamed: 3 Unnamed: 4 Unnamed: 5
0         NaN        NaN        NaN
1         NaN        NaN        NaN
2         NaN        NaN        NaN
3         NaN        NaN        NaN
4         NaN        NaN        NaN
..        ...        ...        ...
82       Item        NaN        NaN
83       Item        NaN        NaN
84       Item        NaN        NaN
85       cu.m        NaN        NaN
86       Item        NaN        NaN

[87 rows x 6 columns]]

In [38]:
rows_list = []
for x in range(0,len(sheets)-1):
    inside = False
    for index, rows in df_list[x].iterrows():
        if inside :
            #Check if at end of table
            if rows[item_col] == "" :
                inside = False
            else :
                hold = ""
                df_hold = ["","0","0","0","0","0","","",""]
                df_colh = ["","","","","","","","",""]
                full_count = 0
                rows[item_col] = str(rows[item_col])
                if rows[item_col] != "nan":
                    count = 0
                    length = len(rows[item_col])
                    for i in str(rows[item_col]):
                        count += 1
                        if i != ".":
                            hold = hold + i
                            if count == length:
                                df_hold[full_count + 1] = hold
                        else:
                            df_hold[full_count + 1] = hold
                            full_count += 1
                            hold = ""
                    df_hold[7] = rows[desc_col]
                    df_hold[0] = df_forms['Form ID'][x]
                    for y in range(0,6):
                        df_hold[6] = str(df_hold[6]) + str(df_hold[y]) + "."
                    df_hold[6] = df_hold[6][:-1]
                    dict1 = {}
                    dict1.update({"Primary Key": "","Project ID":Project_ID,"Form ID":df_forms['Form ID'][x],"Version Number":Version_Number,"Item ID":df_hold[6],"Quantity":rows[quant_col],"Price":rows[rate_col],"Unit":rows[unit_col],"Amount": rows[amount_col]})
                    rows_list.append(dict1)
                    
                    # df_hold[6] = df_hold[6][:-1]
                    # df_colh[1] = Project_ID
                    # df_colh[2] = df_forms['Form ID'][x]
                    # df_colh[3] = Version_Number
                    # df_colh[4] = df_hold[6]
                    # df_colh[5] = rows[quant_col]
                    # df_colh[6] = rows[rate_col]
                    # df_colh[7] = rows[unit_col]
                    # df_colh[8] = rows[amount_col]
                    # df_hold[8] = rows[unit_col]
                    # s_row = pd.Series(df_hold, index=df.columns)
                    # df_row = pd.Series(df_colh)
                    # df_sub_form = df_sub_form.append(df_colh)
                    # df = df.append(s_row,ignore_index=True)
                    #print(df_colh)       

        if rows[item_col] == "Item" :
            inside = True
df =pd.DataFrame(rows_list)
print(df)

    Primary Key  Project ID  Form ID Version Number      Item ID  Quantity  \
0                       NaN        0              3  0.1.0.0.0.0       NaN
1                       NaN        0              3  0.1.1.0.0.0       NaN
2                       NaN        0              3  0.1.2.0.0.0       NaN
3                       NaN        0              3  0.1.3.0.0.0       NaN
4                       NaN        0              3  0.1.4.0.0.0       NaN
..          ...         ...      ...            ...          ...       ...
799                     NaN        4              3  4.4.3.4.0.0       NaN
800                     NaN        4              3  4.4.3.5.0.0       NaN
801                     NaN        4              3  4.4.3.6.0.0       NaN
802                     NaN        4              3  4.4.3.7.0.0       NaN
803                     NaN        4              3  4.4.3.8.0.0       NaN

     Price   Unit  Amount
0      NaN    NaN     NaN
1      NaN   sq.m     NaN
2      NaN   cu.m     NaN
3      NaN   cu.m     NaN
4      NaN   cu.m     NaN
..     ...    ...     ...
799    NaN   Item     NaN
800    NaN    No.     NaN
801    NaN  lin.m     NaN
802    NaN  lin.m     NaN
803    NaN    NaN     NaN

[804 rows x 9 columns]

In [64]:
df.to_sql('Submitted_Forms',engine,if_exists='append')

In [65]:
#df.to_sql('Tender Master', engine, if_exists='replace')

In [66]:
#df_forms.to_sql('Form_IDs', engine, if_exists='replace')

In [67]:
df.to_csv("test_output.csv")

In [68]:
#df_forms.to_csv("Form_IDs.csv")

: